<?xml version="1.0" encoding="UTF-8"?>
<web-app>
      <servlet>
            <servlet-name>MyServletEx1</servlet-name>
            <servlet-class>Login</servlet-class>
      </servlet>

      <servlet-mapping>
            <servlet-name>MyServletEx1</servlet-name>
            <url-pattern>/StudentMgmt</url-pattern>
      </servlet-mapping>
</web-app>